/* Message starting */
.msg_wrapper{
  position: absolute;
  top: 10vh;
   width: 100vw;
  z-index: 5;
}
.first_row{
  
    display: flex;
    justify-content: space-between;
  }
  #msg_box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin:  0.2rem;
    padding: 1rem;
    
    border-radius: 12px;
  }
  #msg_title{
    font-weight: bold;
  }
  #msg_body{
    text-indent: 40px;
    font-size: medium;
    display: inline-block;
    margin-top: 0.5rem;
  }
  .msg_close_btn{
    align-self: flex-end;
    padding: 0.5rem 1rem ;
    background: rgb(90, 89, 89);
    color: black;
    border-radius: 12px;
    margin: 0.5rem 0;
    margin-top: 1rem;
  } 
  .msg_close_btn:hover{
    transition: 1s;
    background: rgb(15, 13, 13);
    color: rgba(255, 255, 255, 0.904);
  }
  .success{
    background: rgb(59, 182, 59);
  }
  .error{
    background: rgb(221, 37, 37);
  }
  .warning{
    background: rgb(235, 235, 62);
  }
  
  /* Message ending */