
.login_container {
    opacity: 25;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 320px;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    
    
}
.login_form{
    
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
    background: white;
}
.login_head h1{
    margin: 4px;
    font-size: 24px;
}

#desc {
    margin-top: 0.5rem;
    text-indent: 40px;
}

.login_body input {
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0;
}

.login_footer {
    padding: 1rem 0;
    margin: 0;
}
.login_footer button{
    border: none;
    background-color: rgb(90, 90, 218);
}
.login_footer button:hover{
    background-color: blue;

}

.login_footer hr {
    margin: 0.5rem 0;
}

.login_footer small {
    margin: 4px;
}

.login_footer a {
    color: rgb(32, 32, 85);
}