*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/* Navigation */
#navbar
 {
    display: flex;
    background-color: rgba(44, 34, 34, 0.651);
    padding: 10px;
    width: auto;
}
#navbar h1{
    color: black;
    font-weight: bolder;
    width: 5%; 
    padding: 0 20px;
    font-size: 34px;
    font-family: 'Ultra', serif;
    text-align: center;

}
#navitems{
    width: 65%;
padding-right: 3rem;
margin-bottom: 0;
padding-top: 8px;
font-family: 'Caladea', serif;
}
#navitems a{
    color: white;
    padding: 12px ;
    font-size: 20px;
    border-radius: 20px;
}
#navitems a:hover{
    color: black;
    background-color: white;
}
#rightnav{
    display: flex;
    color: rgb(56, 47, 47);
    font-size: 25px;
    font-weight: lighter;
    justify-content: flex-end;
width: 30%;



}
#rightnav i{
    padding-top: 6px;
    padding-left: 1.1rem;
    font-size: 32px;
    height: 32px;

    justify-content: space-between;
    
}
#rightnav input{
    overflow: hidden;
    border-radius: 8px;
    font-size: 25px;
    height: 34px;
    overflow: hidden;
padding: 2px;
border: none;
border-radius: 8px 0 0 8px;


}
#rightnav a{
    color: rgbrgb(58, 53, 53);
  
}
.fa-search{
    padding-right: 1rem;
    font-size: 23px;
    cursor: pointer;
    height: 32px;
    background-color: white;
    border-radius: 0 8px 8px 0;
}
#blue{
color: rgb(80, 68, 68);
}
#short{
    display: none;
}

@media only screen and (max-width:1024px){
    #navbar{
        display: inline-block;
        width: 100%;
        overflow: hidden;
        padding: 10px 0;
    }
    #navbar h1{
        display: inline-block;
        width: 20%;
        margin: 0.2rem;
        text-align: left;
        padding-left: 0.5rem;
        
    }
    #navitems{
        position: absolute;
        overflow: hidden;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: rgb(34, 32, 32); 
        padding: 4px 0;
    }
    #navitems a{
        display: inline-block;
        padding: 0;
        margin: o;
        width:24%;
        text-align: center;
    }

#rightnav{
    width: 75%;
        position: absolute;
        top: 0.7rem;
        right: 0.2rem; 
        overflow: hidden;
        padding-right: 10px;
float: right;
    }
#blue{
    display: none;
}
#rightnav i{
    padding-left: 10px;

}
#rightnav i{
    padding-right: 0.1rem;
}

#type{
    display: none;
    position: absolute;
    padding: 0;
    
}
#rightnav input{
    position: absolute;
    left:0.5rem;
    right: 2rem;
    width: 13rem;
    border-radius: 8px;
    padding: 0;
    height: 2.5rem;
   

}
.fa-search{
    background:none;
    margin: 0; 
    padding-right: 0.2rem;
}


}
    /* End of navigation */
/* filter section */
#filter{
    display: none;
    /* z-index: -1; */
    /* opacity: 0; */
    flex-wrap: wrap;
    width: 18rem;
    margin: auto;
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: rgb(90, 81, 81);
    padding: 0.5rem 1rem;
    border-radius: 0 0 0 18px  ;
    

}

#filter label{
    display: inline-block;
    margin: 0.2rem;
    width: 7.5rem;
    font-size: 1.3rem;
}
#filter select{
    margin: 0.2rem;
    width: 9rem;
    font-size: 1.2rem;
    border-radius: 8px;
    height: 2rem;
}
#filter button{
    display: block;
    padding: 0.4rem 2rem;
    border-radius: 8px;
    font-size: 1.3rem;
    margin: auto;
    justify-content: center;


}
/* End of Filter section
 */

/* content section */
.colleges{
display: flex;
flex-wrap: wrap;
padding: 2rem;

margin: 2rem 1rem;
border: 2px solid black;
border-radius: 13px;
align-items: center;
}
.colleges p{
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.college{
    border:2px solid rgb(209, 195, 169);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 254, 254);
}
.colleges h1{
    font-size: 1.5rem;
    margin: 10px 10px;
    display: block;
    width: 100%;
}
.college h4{
    text-align: center;
    margin: 0;
    display: block;
    width: 100px;
    display: flexbox;

}
.college img{
    width: 100px;
    height: 100px;
} 
center {
    margin-left: 20px;
    
    
}
/* title section */
.titles{
    width: 100%;
    align-items: center;
}
.titles img{
    width: 30px;
    height: 30px;
    float: left;

}
.titles h1{
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 0.2rem;
    width: auto;
    float: left;


}

/* footer section */
footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.center{
    background-color: rgb(58, 48, 48);
    color: white;
    bottom: 0;
    width: 90%;
    border-radius: 4px;
    padding:  1rem;
}
.center p{
    text-align: center;
    padding:  0.2rem;

}

@media only screen and (max-width:1024px){
    .colleges{  
        margin: 0.5rem;      
        padding:  0.5rem;
        margin-top: 2.5rem;
    
    }
    .colleges p{
        font-size: 1.5rem;
    }
    .colleges h1{
        font-size: 1.2rem;
        padding-top: 4px;
    }
    .college{
        margin: 10px 12px;
    }
    #filter{
        top: 7rem;
        right: 0;
    }

}

/* QP final page */
.paper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:rgb(252, 252, 252);
    padding: 5px;
    margin: 4px 2px;
    border-radius: 4px;
}
#row{
    background-color: rgb(206, 194, 194);
    border-radius: 0.5rem;
    justify-content: center;

}



#paper{
    margin: 0;
    padding: 6px 2px 2px 12px;
    font-size: 1.5rem;
    display: inline-block;
    width: max-content;
    align-items: center;
    justify-content: center;
    
    
}
.link{
    text-decoration: none;
    background-color: rgb(245, 240, 240);
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    
    
    

    
    

}
.icons{

   float: right;
   align-items: flex-end;

   
}
.paper center{
    background-color: rgb(107, 95, 95);
    color: white;
    border-radius: 0.5rem;

}

#papershare{
    display: none;
    margin: 2px 8px;
    align-self: flex-end;

    
}
.social img{
    width: 20px;
    height: 20px;
}
.social{
    display: block;
    margin: 2px;
    

}
