{% extends 'base.html' %}
{% load static %}
{% block title %}QP-Web-Login
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{%static 'User/login.css'%}">
{% endblock styles %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% if otp %}
<div class="login_container">

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom display">
                <h3 class="float-left">Verify Your Email</h3>

            </legend>
            <input type="hidden" name="usr" value="{{usr.username}}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">OTP</span>
                </div>
                <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP"
                    aria-describedby="basic-addon1" name='otp'>
            </div>

        </fieldset>
        <div class="form-grounp">
            <button class="btn mainbtn" type="submit">Verify</button>
            <small class="float-right text-muted"><i><a href="#" class="text-dark"
                        onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i>
                        OTP</a></small>

        </div>

    </form>
</div>
{% else %}
<div class="container login_form">
    <div class="login_head container">
        <h1>QP Web</h1>
        <p id="desc">A platform to get your academics question papers and also give to some one like us.</p>
    </div>
    <hr width="90%">
    <div class="login_body">
        <form method="POST">
            {% csrf_token %}

            <h3>Login</h3>


            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
    </div>
    <div class="login_footer container">
        <button type="submit">Log In</button>
        </form>
        {% endif %}
        <hr width="90%">
        <small><a href="{% url 'password_reset'%}" class="text-dark"> Forgotten
                Password?</a></small>
        <small> New to QPWeb - <a href="{% url 'signup'%}">SignUp</a> </small>
    </div>
</div>

{% endblock body %}
<script>
    function ReSendOTP(username, mess_id) {

        mess = document.getElementById(mess_id);
        mess.innerText = "Sending...";
        $.ajax({
            type: 'GET',
            url: "{% url 'resend_otp' %}",
            data: { usr: username },
            success: function (data) {
                mess.innerText = data;

            }
        })


    }



</script>