{% extends 'base.html' %}
{% load static %}
{% block title %} {{request.user.username}}'s Profile'
{% endblock title %}
{% block navigation %}
{% include 'question_papers/navigation.html' %}
{% endblock navigation %}

{% block body %}

<head>
    <link rel="stylesheet" href="{%static 'question_papers/profile.css'%}" />
    <script src="{%static 'question_papers/profile.js'%}"></script>
</head>
<div id="outerbox">
    <div class="profile">
        <div class="info">
            <h1>Profile</h1>
            <a href="{% url 'update_profile'%}"> <button id="edit_profile">Edit <img id="edit_icon"
                        src="{%static 'question_papers/images/pensil.png'%}" alt=""> </button></a>


            {% if request.user.profile.pic %}

            <img id="pic" src="{{request.user.profile.pic.url}}" alt="You">

            {% else %}
            <img id="pic" src="{%static 'question_papers/images/user-circle.png'%}" alt="You">

            {% endif %}

            <p style="display: none;">{{request.user.id}}</p>


            <p id="username">{{request.user.first_name}}</p>

            <p id="userbio">{{request.user.profile.bio}}</p>

            <p id="usercollege">{{request.user.profile.college}}</p>


            <p>Joined: {{request.user.profile.updated}}</p>

        </div>
        <div class="activity">
            <p class="userlinks" id="papers">Papers provided by you</p>
            {% for items in my_papers %}
            {{items.board}}
            {{items.claass}}
            <br>
            {% endfor %}
            <p class="userlinks" id="refs"> People reffered by you</p>
            {% for people in my_papers %}
            {{people.name.first_name}}
            {{people.name}}
            <br>
            {% endfor %}
            
        </div>
    </div>


</div>

{% endblock body %}