{% extends 'base.html' %}

{% load static %}
{% block title %}Contact
{% endblock title %}

{% block body %}
<div class="designer">
    <p>
        This app is developed by
    </p>
    <h1>VIGNESH</h1>
    <p>Contact: 7338085595 / vigneshun80@gmail.com</p>
    <p>follow us on:</p>
    <p>
        <a href="https://www.facebook.com/Link-To-Learn-114271636881743" target="_blank"><img
                src="{%static 'question_papers/images/facebook.png'%}" alt="#">
        </a>
        <a href="https://www.instagram.com/vignesh_n_u/" target="_blank"><img
                src="{%static 'question_papers/images/instagram.jpg'%}" alt="#">
        </a>
    </p>
</div>
{% endblock body %}