{% extends 'base.html' %}

{% load static %}
{% load to_space %}

{% comment %} Page title {% endcomment %}
{% block title %}QP-Web Home
{% endblock title %}

{% comment %} page description {% endcomment %}
{% block description %} 
A website provides all type of academic question papers.
{% for qp in allqp %}
{{qp.education_type}}
{% endfor %} question papers are available
{% endblock description %}

<!-- Main content -->
{% block body %}
<div class="colleges">
    <p>Welcome to QP World</p>

    <h1>Choose your board type : </h1>

    {% for qp in allqp %}
    {% if qp.paper_type == 'board'%}
    <div class="college">
        <a href="{{qp.education_type}}">
            <img src="{%static 'question_papers/images/college.png' %}" alt="#">
            <h4>{{qp.education_type| title}}</h4>
        </a>
    </div>
    {% endif %}
    {% empty %}
    Board papers are not uploaded till now!
    {% endfor %}

    <h1>Choose your course type :</h1>

    {% for qp in allqp %}
    {% if qp.paper_type == 'university'%}
    <div class="college">
        <a href="{{qp.education_type}}">
            <img src="{%static 'question_papers/images/college.png' %}" alt="#">
            <h4>{{qp.education_type| title}}</h4>
        </a>
    </div>
    {% endif %}
    {% empty %}
    University papers are not uploaded till now!
    {% endfor %}

</div>
{% include 'provides/provide_pitch.html' %}

{% endblock body %}