{% extends 'base.html' %}
{% load static %}
{% block title %}question_papers
{% endblock title %}
{% block navigation %}
{% include 'question_papers/navigation.html' %}
{% endblock navigation %}

{% block body %}


<div class="colleges">
    <p>Welcome to QP World</p>

    <h1>{{Select}} </h1>
    {% for qp in allqp %}
    <div class="college">
        <a href="{{qp.college}}">
            <img src="{%static 'question_papers/images/college.png' %}" alt="#">
            <h4>{{qp.college| title}}</h4>
        </a>
    </div>




    {% endfor %}

</div>


{% endblock body %}

{% block footer %}
{% include 'question_papers/footers.html' %}
{% endblock footer %}

</body>

</html>