{% include 'question_papers/navigation.html'  %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    {% block nav %}

    <div class="container">
        <h3>Contact QP Admin</h3>
        <div class="form">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {{form.as_p}}
        </div>
        <button id="btn" type="submit" value="Submit" />Submit</button>
        </form>    
    </div>
    {% endblock nav %}
    {% if messages %}
    <div class="content messages">
        <div class="header">
            <h2>Thank You!</h2>
        </div>
        <label for="click" class="fas fa-check"></label>
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
        <div class="line"></div>
        <label for="click" class="close-btn" onclick="this.parentElement.style.display='none';">Close</label>
    </div>
    {% endif %}
</body>

</html>
{% include 'question_papers/footers.html'  %}
