{% extends 'base.html' %}

{% load static %}
{% load to_space %}

{% block title %}
{% for title in university %}
{% ifchanged college %}
{{title.course}}_{{title.university}}_question_papers
{% endifchanged %}
{% endfor %}
{% endblock title %}

{% block body %}
<div class="colleges">
    <p>Welcome to QP World</p>
    {% for uni in university %}
    {% ifchanged college %}
    <div class="titles">
        <h1>{{uni.governing_body| to_space | title}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
        </h1>
        <h1>{{uni.education_type| to_space | title}}{% if uni.university == 'manglore_university' %}
            <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
            {% elif uni.education_type == 'kuvempu_university'%}
            <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
            {% else %}
            <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
            {% endif %}
        </h1>
    </div>
    {% endifchanged %}
    <div class="college">
        <a href="{{uni.course_name}}">
            <img src="{%static 'question_papers/images/course.png' %}" alt="#">
            <h4>{{uni.course_name| upper}}</h4>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock body %}