{% extends 'base.html' %}

{% load static %}
{% block title %}filter
{% endblock title %}

{% block body %}
{% if context %}
<div class="colleges">
    {% for title in context %}
    {% ifchanged course %}
    <div class="titles">
        <h1>{{title.college}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
        </h1>
        <h1>{{title.university}}{% if title.university == 'Mangolre University' %}
            <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
            {% elif title.university == 'Kuvempu University'%}
            <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
            {% else %}
            <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
            {% endif %}
        </h1>
        <h1>{{title.course}} <img src="{%static 'question_papers/images/course.png'%}" alt="#">
        </h1>
        <a href="../">
            <h1>{{title.year}} <img src="{%static 'question_papers/images/year.png'%}" alt="#">
            </h1>
        </a>
        <h1>{{title.subject}}<img src="{%static 'question_papers/images/subject.jpg'%}" alt="#"></h1>
    </div>
    {% endifchanged %}
    {% endfor %}
    <div class="paper">
        {% for prepaper in context %}
        <div class="paper">
            <div id="row">
                <a href="{{prepaper.paper.url}}" target="_blank">
                    <h1 id="paper">{{prepaper.examination}} : </h1>
                </a>
                <div class="icons">
                    <td><a href="{{prepaper.paper.url}}" target="_blank">Open</a></td>
                    <a href="{{prepaper.paper.url}}" download>
                        <img src="{%static 'question_papers/images/download.png'%}" alt="download">
                    </a>
                    <i id="share">
                        <img src="{%static 'question_papers/images/share.png'%}" alt="share">
                        <p></p>
                    </i>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="errors">
        <p>Filter does not match </p><br>
        <p>MAKE SURE_</p><br>
        <li>You selected all correct relate options
        </li><br>
        <button>
            <a href="../">Goback</a>

        </button>
    </div>
    {% endif %}

</div>
{% endblock body %}