{% extends 'base.html' %}

{% load static %}
{% load to_space %}

{% block title %}
{% for titles in paper %}
{% ifchanged college %}
{{titles.course}}_{{titles.year}}_{{titles.subject}}_question_papers
{% endifchanged %}
{% endfor %}
{% endblock title %}


{% block body %}
<div class="colleges">
    <p>Welcome to QP World</p>
    {% for title in paper %}
    {% ifchanged course %}
    <div class="titles">
        <h1>{{title.college| to_space |title}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
        </h1>
        <h1>{{title.university| to_space |title}}{% if title.university == 'Manglore University' %}
            <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
            {% elif title.university == 'Kuvempu University'%}
            <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
            {% else %}
            <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
            {% endif %}
        </h1>
        <h1>{{title.course|upper}} <img src="{%static 'question_papers/images/course.png'%}" alt="#">
        </h1>
        <a href="../">
            <h1>{{title.year| to_space |title}} <img src="{%static 'question_papers/images/year.png'%}" alt="#">
            </h1>
        </a>
        <h1>{{title.subject| to_space |title}}<img src="{%static 'question_papers/images/subject.jpg'%}" alt="#"></h1>
    </div>
    {% endifchanged %}
    {% endfor %}
    {% for prepaper in paper %}
    <div class="paper">
        <div id="row">
            <a href="{{prepaper.paper.url}}" target="_blank">
                <h1 id="paper">{{prepaper.examination| to_space |title}} : </h1>
            </a>
            <div class="icons">
                <!-- <td><a href="{{prepaper.paper.url}}" target="_blank">Open</a></td> -->
                <a href="{{prepaper.paper.url}}" download class="link">
                    <img src="{%static 'question_papers/images/download.png'%}" alt="Download">
                </a>
                <i class="link" id="share"
                    onclick="sharefunc( 'http:&#47;&#47;127.0.0.1:8000{{prepaper.paper.url}}' ,'see this question paper from QP Web')">
                    <img src="{%static 'question_papers/images/share.png'%}" alt="Share">
                </i>
            </div>
            <!-- <td colspan="3"><iframe src="{{prepaper.paper.url}}" frameborder="0"></iframe></td> -->
        </div>

        <p>
            {% if prepare.provider != 'None' %}

            <center>Provided by {{prepaper.provider}}</center>
            {% else %}
            <center>Provided by Vignesh</center>

            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock body %}