{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>push</title>
    <link rel="stylesheet" href="{%static 'question_papers/push.css'%}">

</head>

<body>
    <h1>Push controller</h1>
    {% for push in pushes %}
    <form action="pushed" method="POST">{% csrf_token %}
        <!-- <div class="titles"> -->
        <!-- <h1 name="college">{{push.level}} -->
        <!-- </h1> -->
        <!-- <h1 name= "university">{{push.board}}</h1> -->
        <!-- <h1 name="semister">{{push.sem}}  -->
        <!-- </h1> -->
        <!-- <a href="../"> -->
        <!-- <h1 name="course">{{push.claass}} -->
        <!-- </h1> -->
        <!-- </a> -->
        <!-- <h1 name="subject">{{push.sub}}</h1> -->
        <!-- </div> -->
        <!-- <div class="paper"> -->
        <!-- <div id="row"> -->
        <!-- <h1 name="year">{{push.papertitle}} : </h1> -->
        <!-- <td><a href="{{prepaper.paper.url}}" target="_blank">Open</a></td> -->
        <!-- <a name=paper href="{{push.doc.url}}" download> download </a> -->
        <!-- <td colspan="3"><iframe src="{{prepaper.paper.url}}" frameborder="0"></iframe></td> -->
        <!-- <a href="{{push.doc.url}}" target="_blank"> View </a> -->
        <!-- </div> -->
        <!-- <p> -->

        <!-- <center name="email">sent by {{push.email}}</center> -->
        <!-- <center name= "date">sent by at {{push.provide_date}}</center> -->
        <!-- </p> -->
        <div class="container">
            <input id="id" type="text" name="id" value="{{push.id}}">
            <div class="row">
                <div class="col-25">
                    <label for="provider">Provider Name:</label>

                </div>
                <div class="col-75">
                    <input type="text" name="pro" value="{{push.name}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="pro-email">Provider e-mail :</label>

                </div>
                <div class="col-75">
                    <input type="text" name="email" value="{{push.email}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="semister">Semister :</label>

                </div>
                <div class="col-75">
                    <input type="text" name="semister" value="{{push.sem}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Subject: </label>

                </div>
                <div class="col-75">
                    <input type="text" name="subject" value="{{push.sub}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="course">Course: </label>

                </div>
                <div class="col-75">
                    <input type="text" name="course" value="{{push.claass}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="university">University</label>

                </div>
                <div class="col-75">
                    <input type="text" name="university" value="{{push.board}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="college">College type</label>

                </div>
                <div class="col-75">
                    <input type="text" name="college" value="{{push.level}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="examination">Examination year</label>

                </div>
                <div class="col-75">
                    <input type="text" name="examination" value="{{push.papertitle}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="date">Provided date</label>

                </div>
                <div class="col-75">
                    <input type="text" name="date" value="{{push.provide_date}}">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="upload">Upload file</label>
                </div>
                <div class="col-75 files" >
                    <a class="file" href="{{push.doc.url}}">View file</a>
                    <a class="file" download href="{{push.doc.url}}">Download file</a>
                    <input type="file" name="paper">
                </div>
                
            </div>
            <button type="submit">Push</button>
            
        </div>

    </form>
    {% endfor %}




</body>

</html>