{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QP</title>
    <link rel="stylesheet" href="{%static 'question_papers/form.css'%}">
    <link rel="stylesheet" href="{%static 'question_papers/qp.css'%}">
    <link rel="stylesheet" href="{%static 'question_papers/all.css'%}">

</head>

<body>

    <!-- Navigation -->
    <div id="navbar">
        <h1>QP</h1>
        <div id="navitems">
            <a href="/">Home</a>
            <a href="{% url 'provider'%}">Provide</a>
            <a href="{% url 'contact'%}">Contact</a>
            <a href="#" class="fas fa-filter" id="short"> Filter</a>
        </div>
        <div id="rightnav">
            <input type="text" placeholder="search is not available" id="type">
            <i class="fas fa-search" id="search"></i>
            <i id="blue" class="fas fa-filter" "></i>
            <i class=" fas fa-ellipsis-v" id="opt"></i>

        </div>
        <div class="options">

            <a class="fa fa-share-alt" aria-hidden="true" style="display: none; margin: 4px; font-size: 25px;"
                id="shareapp"> Share App</a>

            {% include "question_papers/share.html" %}
        </div>
    </div>
    <!-- End of Navigation -->
    <div id="filter">
        <form method="POST" action="{% url 'filter'%}">{% csrf_token %}
            <h1><a href="#" class="fas fa-filter"> Filter</h1></a>

            <label for="college">College : </label>
            <select name="college" id="college">
                {% for 1 in coll %}
                <option value="{{1.college}}" name="college">{{1.college}}</option>
                {% endfor %}
            </select>
            <label for="university">University : </label>
            <select name="university" id="university">
                {% for 2 in uni %}
                <option value="{{2.university}}" name="university">{{2.university}}</option>
                {% endfor %}
            </select>
            <label for="course">Course : </label>
            <select name="course" id="course">
                {% for 3 in co %}
                <option value="{{3.course}}" name="course">{{3.course}}</option>
                {% endfor %}
            </select>
            <label for="year">Year : </label>
            <select name="year" id="year">
                {% for 4 in yea %}
                <option value="{{4.year}}" name="year">{{4.year}}</option>
                {% endfor %}
            </select>
            <label for="subject">Subject : </label>
            <select name="subject" id="subject">
                {% for 5 in subj %}
                <option value="{{5.subject}}" name="subject">{{5.subject}}</option>
                {% endfor %}
            </select>
            <button type="submit">Get</button>
        </form>
    </div>
    {% block nav %}

    <div class="colleges">

        <p>Welcome to QP World</p>
        <h1>{{Select}} </h1>
        {% for qp in allqp %}
        <div class="college">
            <a href="{{qp.college}}">
                <img src="{%static 'question_papers/images/college.png' %}" alt="#">
                <h4>{{qp.college}}</h4>
            </a>
        </div>
        {% endfor %}


        {% for clg in college %}

        {% ifchanged college %}
        <div class="titles">
            <h1>{{clg.college}}<img src="{%static 'question_papers/images/college.png'%}" alt="#">
            </h1>
        </div>
        {% endifchanged %}
        <div class="college">
            <a href=" {{clg.university}}">
                {% if clg.university == 'Mangolre University' %}
                <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
                {% elif clg.university == 'Kuvempu University'%}
                <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
                {% else %}
                <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
                {% endif %}
                <h4>{{clg.university}}</h4> </a>
        </div>
        {% endfor %}

        {% for uni in university %}

        {% ifchanged college %}
        <div class="titles">
            <h1>{{uni.college}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
            </h1>
            <h1>{{uni.university}}{% if uni.university == 'Mangolre University' %}
                <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
                {% elif uni.university == 'Kuvempu University'%}
                <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
                {% else %}
                <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
                {% endif %} </h1>
        </div>
        {% endifchanged %}

        <div class="college">
            <a href="{{uni.course}}">
                <img src="{%static 'question_papers/images/course.png' %}" alt="#">
                <h4>{{uni.course}}</h4>
            </a>
        </div>
        {% endfor %}

        {% for cour in course %}
        <style>
            form {
                display: none;
            }
        </style>
        {% ifchanged course %}

        <div class="titles">
            <h1>{{cour.college}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
            </h1>
            <h1>{{cour.university}}{% if cour.university == 'Mangolre University' %}
                <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
                {% elif cour.university == 'Kuvempu University'%}
                <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
                {% else %}
                <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
                {% endif %} </h1>
            <h1>{{cour.course}} <img src="{%static 'question_papers/images/course.png'%}" alt="#">
            </h1>
        </div>
        {% endifchanged %}
        <div class="college">
            <a href="{{cour.year}}">
                <img src="{%static 'question_papers/images/year.png'%}" alt="#">
                <h4> {{cour.year}} </h4>
            </a>
        </div>
        {% endfor %}

        {% for titles in year %}
        {% ifchanged college %}
        <div class="titles">
            <h1>{{titles.college}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
            </h1>
            <h1>{{titles.university}}
                {% if titles.university == 'Mangolre University' %}
                <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
                {% elif titles.university == 'Kuvempu University'%}
                <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
                {% else %}
                <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
                {% endif %}
            </h1>
            <h1>{{titles.course}} <img src="{%static 'question_papers/images/course.png'%}" alt="#">
            </h1>
            <h1>{{titles.year}} <img src="{%static 'question_papers/images/year.png'%}" alt="#">
            </h1>
        </div>
        {% endifchanged %}

        {% endfor %}
        {% for years in year %}
        <div class="college">
            <a href="{{years.subject}}">
                <img src="{%static 'question_papers/images/subject.jpg'%}" alt="#">
                <h4>{{years.subject}}</h4>
            </a>

        </div>
        {% endfor %}

        {% for title in paper %}

        {% ifchanged course %}
        <div class="titles">
            <h1>{{title.college}}<img src="{%static 'question_papers/images/college.png' %}" alt="#">
            </h1>
            <h1>{{title.university}}{% if title.university == 'Manglore University' %}
                <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
                {% elif title.university == 'Kuvempu University'%}
                <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
                {% else %}
                <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
                {% endif %} </h1>
            <h1>{{title.course}} <img src="{%static 'question_papers/images/course.png'%}" alt="#">
            </h1>

            <a href="../">
                <h1>{{title.year}} <img src="{%static 'question_papers/images/year.png'%}" alt="#">
                </h1>
            </a>

            <h1>{{title.subject}}<img src="{%static 'question_papers/images/subject.jpg'%}" alt="#"></h1>
        </div>
        {% endifchanged %}

        {% endfor %}
        {% for prepaper in paper %}
        <div class="paper">
            <div id="row">
                <a href="{{prepaper.paper.url}}" target="_blank">
                    <h1 id="paper">{{prepaper.examination}} : </h1>
                </a>


                <div class="icons">
                    <!-- <td><a href="{{prepaper.paper.url}}" target="_blank">Open</a></td> -->
                    <a href="{{prepaper.paper.url}}" download class="fa fa-download link"" aria-hidden=" true">
                        <p></p>
                    </a>
                    <i class="fa fa-share link" aria-hidden="true" id="share">
                        <p></p>
                    </i>
                </div>
                <!-- <td colspan="3"><iframe src="{{prepaper.paper.url}}" frameborder="0"></iframe></td> -->
            </div>
            <div id="papershare">
                <a class="social"
                    href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}   , {{prepaper.course}} {{prepaper.university}} {{prepaper.examination}} Question Paper"
                    target="_blank"><img src="{%static 'question_papers/images/facebook.png'%}" alt="#"> share on
                    facebook</a>
                <a class="social"
                    href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}}   ,{{prepaper.course}} {{prepaper.university}} {{prepaper.examination}} Question Paper"
                    target="_blank"><img src="{%static 'question_papers/images/whatsapp.jpg'%}" alt="#"> share on
                    whatsapp</a>
                <a class="social"
                    href="https://twitter.com/intent/tweet?text={{request.build_absolute_uri}}    ,{{prepaper.course}} {{prepaper.university}} {{prepaper.examination}} Question Paper"
                    target="_blank"><img src="{%static 'question_papers/images/twitter.jpg'%}" alt="#"> share on
                    twitter</a>
                <a class="social"
                    href="mailto:?subject=Question Paper from QP&body={{request.build_absolute_uri}}   ,{{prepaper.course}} {{prepaper.university}} {{prepaper.examination}} Question Paper,"
                    target="_blank"><img src="{%static 'question_papers/images/mail.jpg'%}" alt="#"> share on mail</a>
                <a class="social"
                    href="https://t.me/share/url?text=%s&url={{request.build_absolute_uri}}  ,{{prepaper.course}} {{prepaper.university}} {{prepaper.examination}} Question Paper,"
                    target="_blank"><img src="{%static 'question_papers/images/telegram.jpg'%}" alt="#"> share on
                    telegram</a>
                <a class="social"
                    href="https://www.linkedin.com/shareArticle?mini=true&title=Question Paper from QP&url={{request.build_absolute_uri}}  ,{{prepaper.course}} {{prepaper.university}} {{prepaper.examination}} Question Paper,"
                    target="_blank"><img src="{%static 'question_papers/images/linkedin.jpg'%}" alt="#"> share on
                    linkedin</a>

            </div>

            <p>
                <center>Provided by {{prepaper.provider}}</center>
            </p>
        </div>

        {% endfor %}









    </div>
    {% endblock nav %}
    <div class="designer">
        <p>
            This app is developed by
        </p>
        <h1>VIGNESH</h1>
        <p>Contact: 7338085595 / vigneshun80@gmail.com</p>
        <p>follow us on:</p>
        <p>
            <a href="https://www.facebook.com/Link-To-Learn-114271636881743" target="_blank"><img
                    src="{%static 'question_papers/images/facebook.png'%}" alt="#">

            </a>

            <a href="https://www.instagram.com/vignesh_n_u/" target="_blank"><img
                    src="{%static 'question_papers/images/instagram.jpg'%}" alt="#">

            </a>
        </p>


    </div>


    <footer>
        <div class="center">
            <p>www.qpworld.com &copy;2020 </p>
            <p> All rights reserverd.</p>
        </div>
    </footer>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Average+Sans&display=swap" rel="stylesheet">
    <script src="{%static 'question_papers/jquery3.4.1 .min.js'%}"></script>
    <script src="{%static 'question_papers/qp.js'%}"></script>

</body>

</html>