{% extends 'base.html' %}

{% load static %}
{% block title %}search
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{%static 'question_papers/search.css'%}"/>
{% endblock styles %}

{% block body %}
{% if results %}
<h2>Search Results :-</h2>
{% for result in results %}
<div class="result">
    <div id="1" class="title">
        <p>{{result.course| upper}}</p>
        <p>{{result.university| title}}</p>
    </div>
    <div id="2" class="title">
        <p>{{result.year| title}}</p>
        <p>{{result.subject| title}}</p>
    </div>
    <div id="3" class="title">
        <a href="{{result.paper.url}}"> view</a>
        <a href="{{result.paper.url}}" download>download</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="errors">
    <p>No, search Results </p><br>
    <p>Suggestions :-</p><br>
    <li>Search by single keyword</li><br>
    <li>Make sure the spelling is correct</li><br>
    <li>Search for specific subject, course, year, university, etc</li><br>
    <li>Try more Related keywords</li><br>

    <button>
        <a href="../">Goback</a>
    </button>
</div>
{% endif %}
{% endblock body %}