{% load static %}
<div id="appshare" style="display: none;">
    <a class="social"
        href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"
 
        target="_blank"><img src="{%static 'question_papers/images/facebook.png'%}" alt="#"> Share on Facebook</a>
    <a class="social"
        href="https://api.whatsapp.com/send?text={{request.build_absolute_uri}} Awesome app to share question papers
  "
        target="_blank"><img src="{%static 'question_papers/images/whatsapp.jpg'%}" alt="#"> 
share on
        whatsapp</a>
    <a class="social"
        href="https://twitter.com/intent/tweet?text={{request.build_absolute_uri}} ,
        Awesome app to share question papers"
        target="_blank"><img src="{%static 'question_papers/images/twitter.jpg'%}" alt="#"> 
share on
        twitter</a>
    <a class="social"
        href="mailto:?subject=Question Paper from QP&body={{request.build_absolute_uri}},
 Question Paper,"
        target="_blank"><img src="{%static 'question_papers/images/mail.jpg'%}" alt="#"> share 
on mail</a>
    <a class="social"
        href="https://t.me/share/url?text=%s&url={{request.build_absolute_uri}} ,
        Awesome app to share question papers,"
        target="_blank"><img src="{%static 'question_papers/images/telegram.jpg'%}" alt="#"> 
share on
        telegram</a>
    <a class="social"
        href="https://www.linkedin.com/shareArticle?mini=true&title=Question Paper from QP&url=
{{request.build_absolute_uri}},
Awesome app to share question papers,"
        target="_blank"><img src="{%static 'question_papers/images/linkedin.jpg'%}" alt="#"> 
share on
        linkedin</a>

        </div>

        