{% extends 'base.html' %}

{% load static %}
{% load to_space %}

<!-- Page tite -->

{% block title %}
{% for title in college %}
{% ifchanged college %}
{{title.governing_body}}-question-papers
{% endifchanged %}
{% endfor %}
{% endblock title %}

<!-- Page description -->

{% block description %}
{% for description in college %}
all
{% ifchanged college %}

{{description.governing_body}}
{% endifchanged %}
{% endfor %} question papers are available
{% endblock description %}

<!-- Main Content -->

{% block body %}
<div class="colleges">
    <p>Welcome to QP World</p>
    {% for clg in college %}
    {% ifchanged college %}
    <div class="titles">
        <h1>{{clg.education_type| title}}<img src="{%static 'question_papers/images/college.png'%}" alt="#">
        </h1>
    </div>
    {% endifchanged %}
    <div class="college">
        {% if clg.paper_type == 'board' %}
        <a href=" {{clg.governing_body}}/board">
            {% elif clg.paper_type == 'university'%}
            <a href="{{clg.governing_body}}">
                {% endif %}

                {% if clg.governing_body == 'manglore_university' %}
                <img src="{%static 'question_papers/images/mangloreuniversity.jpg'%}" alt="#">
                {% elif clg.governing_body == 'kuvempu_university'%}
                <img src="{%static 'question_papers/images/Kuvempu_University.jpg'%}" alt="#">
                {% else %}
                <img src="{%static 'question_papers/images/university.jpg'%}" alt="#">
                {% endif %}
                <h4>{{clg.governing_body| to_space |title}}</h4>
            </a>
    </div>
    {% endfor %}
</div>
{% endblock body %}