/* Form CSS */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 90%;
  border-radius: 8px;
  flex-wrap: wrap;
  margin: 1.3rem auto;
}
.form {
  display: block;
  width: 80%;
  justify-content: center;
  margin: auto;
}
.form input,
textarea,select,option {
  border: 1px solid black;
  padding: 4px 0;
  margin: 5px;
  text-indent: 5px;
  border-radius: 8px;
  width: 100%;
  align-items: center;
  font-weight: bold;
  color: black;
  margin-left: 0;
  padding-left: 0;
}
label {
  display: block;
  font-size: 1.2rem;
  align-items: center;
  font-family: "Average Sans", sans-serif;
}
.container button {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(94, 94, 216);
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 4px auto;
}
h3 {
  font-family: "Kanit", sans-serif;
  text-align: center;
  margin: 1.5rem 2rem;
  max-width: 100%;
}

/* register form  */
.container {
  width: max-content;
  padding: 12px;
}
.login_head {
  text-align: center;
  padding: 12px 0;
}
.login_head h1 {
  margin: 4px;
  font-size: 24px;
}

#desc {
  margin-top: 0.5rem;
  text-indent: 40px;
}
.title {
  margin: 8px 4px;
  font-size: 28px;
}
.register_form {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  background: white;
  max-width: 90%;
}
.field {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px auto;
}

.lable_title {
  display: block;
  width: 30%;
  margin: 8px 0;
}
.input_data {
  display: block;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
}
.input_error {
  font-size: smaller;
  background: none;
  color: red;
}
.input_tag input,select {
  border-radius: 4px;
  width: 100%;
  height: 1.5rem;
}
.help_text {
  font-size: small;
  margin-left: 2px;
  color: green;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
  background-color: rgb(90, 90, 218);
}
.btn:hover {
  background-color: blue;
}
@media only screen and (max-width: 620px) {
  .field {
    flex-direction: column;
    padding-left: 12%;
  }
}
/* end of register form  */

/*   otp form  */
.otp_container {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  background: white;
}
.otp_container a{
    width: 100%;
    display: block;
    margin:auto;
}
.otp_field{
    width: 100%;
    font-size: medium;
    margin:auto;
}

/* end of otp form  */

.password_reset_container {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
    background: white;
  }

/* End of Form CSS */
