* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.main{
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;

  margin-bottom: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation */
#menu {
  display: none;
}
#user_menu_head {
  display: none;
}

#navbar {
  display: flex;
  align-items: center;
  background-color: rgb(218, 211, 211);
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 20px;
}

#navbar h1 {
  color: black;
  font-weight: bolder;

  font-size: 34px;
  font-family: "Ultra", serif;
  text-align: center;
}

#navitems {
  margin-bottom: 0;
  font-family: "Caladea", serif;
  margin-left: -2rem;
}

#navitems a {
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 20px;
  border-radius: 20px;
}

#navitems a:hover {
  color: black;
  background-color: white;
}

#rightnav {
  display: flex;
  color: rgb(56, 47, 47);
  font-size: 25px;

  align-items: center;
}

.search {
  background-color: white;
  border-radius: 13px;
  padding: 4px 8px;
  margin-right: 1rem;
  width: 30vw;
}

#search_input {
  width: 100%;
  font-size: 2rem;
  height: 30px;
  outline: none;
  border: none;
}


.search button {
  max-width: 10%;
  background-color: white;
  border: none;
}
.search button img{
  height: 100%;
  width: 100%;
}
.user_pic {
  margin-left: -1rem;
  width: 1.5rem;
  max-width: 2rem;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  #menu {
    display: flex;
    margin-right: 0.5rem;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    background-color: rgb(218, 211, 211);
    box-sizing: border-box;
  }
  #navbar h1 {
    font-size: 24px;
    color: blue;
    margin: 0;
    padding: 0;
  }
  #navitems {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100vw;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
    background: white;
  }
  #navitems a {
    color: black;
  }
  #navitems a:hover {
    color: teal;
  }

  #user_menu_head {
    display: flex;
    background: whitesmoke;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0 15%;
    text-transform: uppercase;
  }
  #rightnav {
    position: absolute;
    overflow: hidden;
    top: 3.2rem;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .explore {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* border: 4px solid rgb(218, 211, 211); */
    border-radius: 24px;
    overflow: hidden;
  }
  .search {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  .search form {
    border: 2px solid rgba(78, 75, 75, 0.315);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 12px;
  }

  #search_input {
    border: none;
    font-size: 18px;
    max-width: 10rem;
    display: inline;
  }
  #search_btn {
    border: none;
    background: none;
  }
  #search_btn img {
    height: 20px;
  }
  #filter-btn {
    height: 20px;
    border: 2px solid rgba(78, 75, 75, 0.315);
    border-radius: 24px;
    padding: 8px 12px;
    margin-left: 4px;
  }
  #mobileNav {
    display: block;
    height: 3rem;
  }
}

#user_menu {
  display: none;
  position: absolute;
  z-index: 1;
  right: 3vh;
  top: 3vh;
  right: 10px;
  padding: 8px;
  background-color: whitesmoke;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}
#close_menu {
  width: 2rem;
}
.menu_options {
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: white;
}
.user_absolute {
  position: absolute;
  z-index: 2;
  right: 8vh;
  top: 10vh;
}
.menu_options p {
  margin: 8px;
}
#greet {
  font-size: smaller;
}

/* End of navigation */

/* filter section */

#filter_items {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #ccc;
  border: 2px soild black;
  border-radius: 12px;
}
#filter_items header {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  font-weight: bold;
}
#close_filterItems {
  width: 25px;
  height: 25px;
}
#filter_items label {
  display: inline-block;
  margin: 0.2rem;
  width: 7.5rem;
  font-size: 1.3rem;
}

#filter_items select {
  margin: 0.2rem;
  width: 9rem;
  font-size: 1.2rem;
  border-radius: 8px;
  height: 2rem;
}

#filter_items button {
  display: block;
  padding: 0.4rem 2rem;
  border-radius: 8px;
  font-size: 1.3rem;
  margin: 8px auto;
  justify-content: center;
}

#filter_items form {
  display: block;
}
/* End of Filter section
 */

/* content section */

.colleges {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 2rem 1rem;
  border: 2px solid black;
  border-radius: 13px;
  align-items: center;
}

.colleges p {
  display: block;
  width: 90%;
  margin:   auto;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

.college {
  border: 2px solid rgb(209, 195, 169);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 254, 254);
}

.colleges h1 {
  font-size: 1.5rem;
  margin: 10px 10px;
  display: block;
  width: 100%;
}

.college h4 {
  text-align: center;
  margin: 0;
  display: block;
  width: 100px;
  display: flexbox;
}

.college img {
  width: 100px;
  height: 100px;
}

.titles {
  width: 100%;
  align-items: center;
}

.titles img {
  width: 30px;
  height: 30px;
  float: left;
}

.titles h1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 0.2rem;
  width: auto;
  float: left;
}

.sub_head{
  width: 100%;
  display: block;
  font-size: medium;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

}

/* footer section */

.center {
  background-color: rgb(58, 48, 48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 100%;
  margin: auto;
  padding: 1rem 5rem;

  flex-wrap: wrap;
  margin: auto;
}

.center p {
  text-align: center;
  padding: 4px;
}

@media only screen and (max-width: 1024px) {
  .colleges {
    margin: 1rem;
    padding: 0.5rem;
    margin-top: 2rem;
  }
  .colleges p {
    font-size: 1.5rem;
  }
  .colleges h1 {
    font-size: 1.2rem;
    padding-top: 4px;
  }
  .college {
    margin: 10px 12px;
  }
  #filter_items {
    top: 7rem;
    right: 0;
  }
}

/* QP final page */

.paper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  margin: 4px 2px;
  
}

#row {
  display: flex;
  background-color: rgb(206, 194, 194);
  border-radius: 0.5rem 0.5rem 0 0;
  justify-content: space-between;
  align-items: center;
}

.head {
  
  font-size: calc(1.5rem + 1vmin); 
}
#paper_info{
  padding: 0.5rem;
  max-width: 100%;
  margin: 0;
}

.icons {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.icons img {
  width: 1rem;
}
.link{
  background: white;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1rem;
  min-width: 2rem;
  text-align: center;
  vertical-align: middle;
}
.paper center {
  /* border-radius: 0 0 0.5rem 0.5rem; */
  background-color: rgb(107, 95, 95);
  color: white;
  padding: 0.2rem;
 
}

@media only screen and (max-width: 520px) {
  #row{
    flex-direction: column;
  }
  .link{
    margin-bottom: 0.5rem;
    font-size: small;
    min-width: 2rem;
    max-height: 0.8rem;
    vertical-align:middle;
    text-align: center;
  }
  #paper_info{
    font-size: small;

  }
}

/* Share functionality css   */
#appshare {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "heading heading heading"
    "logo info info"
    "hr hr hr";
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  background: white;
  padding: 1rem;
}
#heading {
  grid-area: heading;
  display: flex;
  justify-content: space-between;
}
#title {
  text-align: left;
  margin: 8px 1.5rem;
  margin-bottom: 14px;
  font-size: 1.5rem;
}
#close_share {
  width: 30px;
  height: 30px;
  margin: 8px 1.5rem;
}
#logo {
  grid-area: logo;
  height: 55px;
  width: 55px;
  justify-self: end;
  margin: 0 18px;
}
#info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  word-wrap: break-word;
  max-width: 90%;
  word-break: break-all;
}
#hr {
  grid-area: hr;
  margin: 12px 0;
}

.social img {
  width: 40px;
  height: 40px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  #appshare {
    position: fixed;
    top: 12vh;
    right: 1vw;
    max-width: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  #appshare {
    position: fixed;
    bottom: 2vh;
    margin: 0 8px;
  }
}

.designer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 171, 235);
  color: white;
  max-width: 90%;
  margin: 2rem;
  padding: 1rem ;
  text-align: center;
  border-radius: 8px;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.designer h1 {
  color: rgb(65, 15, 112);
  font-family: "Metal Mania", cursive;
  font-size: 20px;
}

.designer p {
  display: inline;
  padding: 4px;
  font-size: 18px;
}

.designer a img {
  border-radius: 8px;
  margin: 0px;
  padding: 2px;
  overflow: hidden;
  height: 25px;
  width: 25px;
  background: whitesmoke;
}

.designer a {
  display: inline;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: white;
  width: max-content;
  font-size: 20px;
  margin: auto;
  justify-content: center;
}

.errors {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  max-height: 80%;
  margin: 40px auto;
  justify-content: center;
  background: white;
  border-radius: 3px;
  padding: 16px 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}

/* Ensure the size of the image fit the container perfectly */
#image {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
