{% extends 'base.html' %}

{% load static %}
{% block title %} {{request.user.username}}'s Profile'
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{%static 'profiles/css/profile.css'%}" />
{% endblock styles %}

{% block body %}
<div id="outerbox">
    <h1>Profile</h1>
    <div id="profile">
        <div id="user_info">
            <div class="row-1">
            {% if request.user.profile.pic %}
            <img id="pic" class="img" src="{{request.user.profile.pic.url}}" alt="You"/>

            {% else %}
            <img id="pic" class="img"src="{%static 'question_papers/images/user-circle.png'%}" alt="You"/>

            {% endif %}
            <a href="{% url 'update_profile'%}" id="edit_btn"> Update <img id="edit_icon" src="{%static 'question_papers/images/pensil.png'%}" alt=""/></a>
        </div>
            <p style="display: none;">{{request.user.id}}</p>

            <p id="username">{{request.user.first_name}}</p>

            <p id="userbio">{{request.user.profile.bio}}</p>

            <p id="usercollege">{{request.user.profile.college}}</p>

            <p id="join_date">Join date: {{request.user.profile.updated}}</p>


        </div>
        <div id="user_activity">
            <p class="userlinks" id="papers_uploaded">Papers provided by you uploaded</p>
            {% for paper in my_papers_uploaded %}
            {{paper.university}}
            {{paper.course}}
            <br>
            {% endfor %}
            <p class="userlinks" id="papers_reviewing">Papers provided by you reviewing</p>
            {% for items in my_papers_reviewing %}
            {{items.board}}
            {{items.claass}}
            <br>
            {% endfor %}
            <p class="userlinks" id="refs_by_me"> People reffered by you</p>
            {% for people in my_recs %}
            {{people.user.first_name}}
            {{people.user.username}}
            <br>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock body %}
{% block scripts_tag %}
<script src="{%static 'profiles/js/profile.js'%}"></script>
{% endblock scripts_tag %}