{% extends 'base.html' %}
{% load static %}

{% block title %} {{request.user.username}}'s Profile'
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{%static 'profiles/css/profile.css'%}" />
{% endblock styles %}
{% block body %}

<div id="outerbox">
    <div class="profile_update">
        <header>
            <h1>Profile</h1>

        </header>
        <div id="photo">
        {% if request.user.profile.pic %}

        <img id="pic" class="img" src="{{request.user.profile.pic.url}}" alt="You">

        {% else %}
        <img id="pic" class="img" src="{%static 'question_papers/images/user-circle.png'%}" alt="You">

        {% endif %}
        
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <p><label for="file" style="cursor: pointer;"><img id="img_input"
            src="{%static 'question_papers/images/camera.png'%}" alt="change pic"></label></p>
    </div>
            <input type="number" name="user_id" value="{{request.user.id}}" style="display: none;">

            <p><input type="file" accept="image/*" name="pic" id="file" onchange="loadFile(event)"
                    style="display: none;"></p>
            

            <p style="display: none;">{{request.user.id}}</p>

            <fieldset>
                <legend>Name</legend>
                <input type="text" name="full_name" value="{{request.user.first_name}}">
            </fieldset>
            <fieldset>
                <legend>Bio</legend>
                <input type="text" name="bio" value="{{request.user.profile.bio}}">
            </fieldset>

            <fieldset>
                <legend>College</legend>
                <input type="text" name="college" value="{{request.user.profile.college}}">
            </fieldset>

            <button type="submit">Update</button>



        </form>

    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById('pic');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
{% endblock body %}

{% block scripts_tag %}
{% endblock scripts_tag %}