#outerbox{
    width: max-content;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    margin: auto;
    padding: 2rem;
}
#profile{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#user_info{
    width: max-content;
    margin: auto;
    border-right: 2px solid black;
    padding: 2rem;
    padding-right: 6rem;
    margin: 20px;
}
#pic{
    border-radius: 50%;
}
#edit_btn{
    border-radius: 10%;
    background-color: white;
    font-size: 12px;
    text-align: center;
    border: 1px solid rgb(95, 95, 95);
    padding: 5px;
}
#edit_icon{
    height: 12px;
    margin-bottom: -3px;
    
}

#user_activity{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.userlinks{
    text-transform: uppercase;
    color: blue;
    font-size: 1rem;
}