.not_visible{
    display: none;
}
#outerbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.profile p
{
    display: block;
}
.profile{
    margin: auto;
    position: relative;
    width: 90vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2rem;
    margin: 1rem;
}
.profile fieldset{
    width: 100%;
    margin: 4px 0;

}
.profile fieldset p{
    padding :8px;
}
.userlinks{
    text-transform: uppercase;
    font-size: 1rem;
    color: blue;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    align-self: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}
#edit_profile{
    border-radius: 12px;
    background-color: rgb(102, 102, 245);
 
    padding: 4px 10px;
    
}
#edit_profile:hover{
    background-color: blue;
}
#edit_icon{
    width: 15px;
    padding-top: 2px;

}

#profile_photo_input{
    display: none;
    font-size: 1rem;

   
}