<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
</head>
<body>
    <h1>Take your test here</h1>
    <div class="toolbox">

        <li>Text</li>
        <li>Image</li>
        <li>Paint</li>
    </div>
    <div class="text_tools">
        <div id="toolbar-container"></div>
    </div>
    
    <div class="image_tools"></div>
    
    <div class="paint_tools">
        <form action="">
            Thickness: <input type="number" min="1" max="25" value="5" name="thickness" id="thickness"
                onchange="changeThickness()">
            color : <input type="color" name="color" id="color" onchange="changeColor()">
        </form>



    </div>
 <hr>
    <br>
    <form>
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit"/>
    </form>
</body>
</html>