{% extends 'base.html' %}
{% load static %}
{% block title %}QP-Web-Login
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{%static 'users/css/login.css'%}">
{% endblock styles %}

{% block body %}
<div class="container">
{% if otp %}


<form method="POST" class="container otp_container">
    {% csrf_token %}


    <h3 class="">Verify Your Email</h3>


    <input type="hidden" name="usr" value="{{usr.username}}">
    <div class="">
        <div>
            <span class="" id="">OTP</span>
            <p style="color: goldenrod;">! also check inside the spam folder</p><br>
        </div>
       
<center>
    <input type="number" required class="form-control" placeholder="Enter Your OTP" aria-label="OTP"
    aria-describedby="" name='otp' >
</center>
       
    </div>

    <button class="btn mainbtn" type="submit">Verify</button>


    <small class=""><i><a class="" onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i
        id="resendOTPmess">Resend</i>
    OTP</a></small>




</form>

{% else %}
<div class="container login_form">
    <div class="login_head container">
        <h1>QP Web</h1>
        <p id="desc">A platform to get your academic question papers and also to give some others.</p>
    </div>
    <hr width="90%">
    <div class="login_body">
        <form method="POST">
            {% csrf_token %}

            <h3>Login</h3>


            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
    </div>
    <div class="login_footer container">
        <button type="submit">Log In</button>
        </form>

        <hr width="90%">
        <small><a href="{% url 'password_reset'%}" class="text-dark"> Forgotten
                Password?</a></small>
                
        <small> New to QP Web ? </small>
        <a href="{% url 'signup'%}"> <button>  SignUp </button> </a>
    </div>
</div>
{% endif %}
{% block scripts_tag %}
<script src="{%static 'users/js/user.js'%}"></script>
{% endblock scripts_tag %}
</div>
{% endblock body %}