{% extends 'base.html' %}
{% load static %}
{% block title %}QP-Web-Signup
{% endblock title %}

{% block body %}
<div class="container">

    {% if otp %}
    <form method="POST">
        {% csrf_token %}
        <div class="container otp_container">
            <legend class="">
                <h3 class="">Verify Your Email</h3>
            </legend>
            
            <input type="hidden" name="usr" value="{{usr.username}}">
            <div class="">
                <div class="">
                    <span class="" id="">OTP</span>
                    <p style="color: goldenrod;">! also check inside the spam folder</p><br>
                </div>
                <center>
                    <input type="number" required placeholder="Enter Your OTP" aria-label="OTP"
                    aria-describedby="" name='otp'>
                </center>
               
            </div>

            <button class="" type="submit">Verify</button>

            <small class=""><i><a  class="" onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i
                            id="resendOTPmess">Resend</i>
                        OTP</a></small>

        </div>

    </form>
    {% else %}
    <div class="container register_form">
        <div class="login_head">
            <h1>QP Web</h1>
            <p id="desc">A platform to get your academic question papers and also to give some others.<p>
        </div>
        <hr width="90%">
        <h1 class="title">SignUp</h1>
        <form method="POST">
            {% csrf_token %}

            {% for field in form %}

            <div class="field">
                <div class="lable_title">{{field.label_tag}}</div>
                <div class="input_data">
                    {% if field.errors %}
                    <div class="input_error"> {{field.errors}} </div>
                    {% endif %}
                    <div class="input_tag">{{field}} </div>
                    {% if field.help_text %}
                    <div class="help_text">{{field.help_text|safe}} </div>
                    {% endif %}
                </div>
            </div>

            {% endfor %}

            <button class="btn" type="submit">Next</button>
        </form>
        <hr width="90%">
        <br>
        <div class="">
            <small class="">Already have an account ?<a href="{% url 'login' %}">Login</a>
            </small>
        </div>

        {% endif %}
        <br>
    </div>



    {% block scripts_tag %}
    <script src="{%static 'users/js/user.js'%}"></script>
    {% endblock scripts_tag %}
</div>
{% endblock body %}