{% extends 'base.html' %}
{% load static %}

{% block title %}provide question papers
{% endblock title %}

{% comment %} page description {% endcomment %}
{% block description %} 
Submit your question papers here. So it could be accessed by anyone in the world through qpweb.
{% endblock description %}

{% block styles %}
<link rel="stylesheet" href="{%static 'provides/css/provider_form.css'%}">
{% endblock styles %}

{% block body %}
{% if request.user.is_authenticated %}
<div class="provider_form_container">
    <h3>Provide Question Papers</h3>
    <div class="form">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
    </div>

    <button class="btn" type="submit" value="Submit" />Provide</button>

    <button class="btn" style="background-color: palevioletred;" id="ask"
        onclick="sharefunc('/provider','Hello, Help others 😊.You can provide question papers through QP Web.')">Ask
        your friend</button>
    </form>


</div>
{% else %}
<div class="provider_form_container">
    <div>
        <header>Please Login</header>
        <main>We appreciate your contribution
            we are going to save your contribution.
            You can see all the papers you provided in your profile.</main>
    </div>

    <div>
        <a href="{% url 'login'%}"><button class="btn">Login</button></a>
        
        <button class="btn"
        onclick="sharefunc('/provider','Hello, Can you provide question papers through QP Web. Help others 😊')">
            

                Ask friends
            </button>
    
    </div>


</div>
{% endif %}
{% block scripts_tag %}
<script src="{%static 'provides/js/provider.js'%}"></script>
{% endblock scripts_tag %}
{% endblock body %}