{% extends 'base.html' %}
{% load static %}

{% block title %}question_papers-Providers_form
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{%static 'provides/css/provider_form.css'%}">
{% endblock styles %}

{% block body %}
{% if request.user.is_authenticated %}
<div class="provider_form_container">
    <h3>Provide Question Papers</h3>
    <div class="form">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
    </div>
    
    <button class="btn" type="submit" value="Submit" />Provide</button>

    <button class="btn" style="background-color: palevioletred;" id="ask"
        onclick="sharefunc('/provider','Hello, Help others 😊.You can provide question papers through QP Web.')">Ask
        your friend</button>
    </form>


</div>
{% else %}
<div class="provider_form_container">
    <div>
        <header>Please Login</header>
        <main>we appreciate your contribution
            we are going to save your contribytion
            You can we all the papers that you provided in your profile page.</main>
    </div>

    <div>
        <a  href="{% url 'login'%}"><button class="btn">Login</button></a>
        <a href="{% url 'signup'%}"><button class="btn">Signup</button></a>
    </div>


</div>
{% endif %}
{% block scripts_tag %}
<script src="{%static 'provides/js/provider.js'%}"></script>
{% endblock scripts_tag %}
{% endblock body %}