<div class="pitch_container">
    <h3>Don't find the question paper ?</h3>
    <h1>Be a Provider</h1>
    <p>Upload your question paper and let it acceced by students like you. Help other to find question papers to
        easily complete their examination.</p>
    <button class="provider_button"><a href="{% url 'provider'%}">Provide now</a> <span></span>
        <span></span>
        <span></span>
        <span></span> </button>
  
    <a id="ask" class="btnfos btnfos-1"
        onclick="sharefunc('/provider','Hello, Can you provide question papers through QP Web. Help others 😊')">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>
        Ask friends
    </a>
</div>