{% extends 'base.html' %}

{% load static %}
{% block title %}Contact
{% endblock title %}

{% comment %} page description {% endcomment %}
{% block description %} 
\You can contact QPWeb admin here.
{% endblock description %}

{% block body %}
<div class="container">
    <h3>Contact QP Admin</h3>
    <div class="form">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
    </div>
    <button id="btn" type="submit" value="Submit" />Submit</button>
    </form>
</div>
{% endblock body %}